.search-results {
  list-style: none;
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0;
}

.photos-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
}

.no-results {
  margin: 0 auto;
  padding-top: 20vh;
  text-align: center;
  color: #333;
}

@media (max-width: 500px) {
  .search-results {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
